<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ExtraDataActivity"
            android:exported="false" />
        <activity
            android:name=".AttendanceDataActivity"
            android:exported="false" />
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".SwimmingPoolActivity"
            android:exported="false" />
        <activity
            android:name=".YogaActivity"
            android:exported="false" />
        <activity
            android:name=".DietPlanActivity"
            android:exported="false" />
        <activity
            android:name=".LockerActivity"
            android:exported="false" />
        <activity
            android:name=".ClassesActivity"
            android:exported="false" />
        <activity
            android:name=".SaunaActivity"
            android:exported="false" />
        <activity
            android:name=".ParkingActivity"
            android:exported="false" />
        <activity
            android:name=".WifiActivity"
            android:exported="false" />
        <activity
            android:name=".ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".GymTimingsActivity"
            android:exported="false" />
        <activity
            android:name=".GymFacilitiesActivity"
            android:exported="false" />
        <activity
            android:name=".GymSubscriptionActivity"
            android:exported="false" />
        <activity
            android:name=".GymTrainersActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Index"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>